{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
            <div class="managers-list">
            {% for manager in managers_list %}
                <div>
                    <a href="{% url manager.link %}"><img src="{{ manager.picture }}"></a>
                    <h3>
                        <a>{{ manager.title }}</a>
                    </h3>
                </div>
                {% endfor %}
        </div>
    </main>
{% endblock content %}
