{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Blood Glucose Log</h1>
                <div>
                    <p>
                        <button><a href="{% url 'create_glucose_entry' %}">Create a new entry</a></button>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time of Day</th>
                            <th>Before meal reading</th>
                            <th>After meal reading</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in my_glucose_log %}
                        <tr>
                            <td>{{ entry.date|date:"D m/d/y" }}</td>
                            <td>{{ entry.time_of_day }}</td> 
                            <td>{{ entry.before }}</td>
                            <td>{{ entry.after }}</td>
                            <td>{{ entry.notes }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>
{% endblock content %}