{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Blood Pressure Log</h1>
                <div>
                    <p>
                        <button><a href="{% url 'create_pressure_entry' %}">Create a new entry</a></button>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Systolic (Top number)</th>
                            <th>Diastolic (Bottom number)</th>
                            <th>Heart Rate</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in my_blood_pressure_log %}
                        <tr>
                            <td>{{ entry.date|date:"D m/d/y" }}</td>
                            <td>{{ entry.systolic }}</td> 
                            <td>{{ entry.diastolic }}</td>
                            <td>{{ entry.heart_rate}}</td>
                            <td>{{ entry.notes }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>
{% endblock content %}