{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Cold Symptoms Log</h1>
                <div>
                    <p>
                        <button><a href="{% url 'create_cold_symptom_entry' %}">Create a new entry</a></button>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Temperature</th>
                            <th>Cough</th>
                            <th>Sore throat</th>
                            <th>Headache</th>
                            <th>Loss of smell</th>
                            <th>Difficulty Breathing</th>
                            <th>Hospitalized?</th>
                            <th>Took a COVID test?</th>
                            <th>What type of test?</th>
                            <th>Test result?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in my_cold_symptoms_log %}
                        <tr>
                            <td>{{ entry.date|date:"D m/d/y" }}</td>
                            <td>{{ entry.temperature }}</td>
                            <td>{{ entry.cough|yesno:"Y, N" }}</td> 
                            <td>{{ entry.sore_throat|yesno:"Y, N" }}</td>
                            <td>{{ entry.headache|yesno:"Y, N" }}</td>
                            <td>{{ entry.loss_of_smell|yesno:"Y, " }}</td> 
                            <td>{{ entry.difficulty_breathing|yesno:"Y, N" }}</td>
                            <td>{{ entry.hospitalized|yesno:"Y, " }}</td> 
                            <td>{{ entry.took_test|yesno:"Y, N" }}</td>
                            <td>{{ entry.test_type }}</td>
                            <td>{{ entry.test_result }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>
{% endblock content %}