{% extends 'base.html' %}
{% block title %}
{% endblock title %}

{% block content %}
<main> 
    <div class="detail"> 
        <h1>My Medical Team</h1>
        <a href="{% url 'my_medical_team' %}"><img class="doctor_pic" src="https://static.thenounproject.com/png/1181572-200.png"></a>
        <h2>{{ provider.provider_name }}</h2>
        <button><a href="{% url 'edit_provider_entry' provider.id %}">Edit Provider Info</a></button>
        <h3>Specialty:</h3>
        <p>{{ provider.specialty }}</p>
        <h2>Phone Number</h2>
        <p>{{ provider.phone_number }}</p>
        <h2>Office Address</h2>
        <p>{{ provider.office_location }}</p>
        <h2>Notes about this provider:</h2>
        <p>{{ provider.notes }}</p>
        <h2></h2>
    </div>
</main>
{% endblock content %}