{% extends 'base.html' %}
{% block title %}
{% endblock title %}

{% block content %}
<main> 
    <h1>Edit {{ my_medical_team.provider_name }}</h1>
    <form class="form" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
         <button>Save</button>
    </form>
</main>
{% endblock content %}
