{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Medical Team</h1>
                <div class="entry-button">
                    <p>
                        <button><a href="{% url 'create_provider_entry' %}">Create a new entry</a></button>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Provider's Name</th>
                            <th>Specialty</th>
                            <th>Phone Number</th>
                            <th>Office Address</th>
                            <th>Next Appointment</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in my_medical_team %}
                        <tr>
                            <td><a href="{% url 'show_provider' entry.id %}">{{ entry.provider_name }}</a></td>
                            <td>{{ entry.specialty }}</td> 
                            <td>{{ entry.phone_number }}</td>
                            <td>{{ entry.office_location }}</td>
                            <td>{{ entry.next_appt|date:"D m/d/y" }}</td>
                            <td>{{ entry.notes }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>
{% endblock content %}