{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asul&family=Montserrat:wght@500&family=Roboto+Mono:wght@600&family=Teko:wght@300&display=swap" rel="stylesheet">   <head>
    <head> 
    <body> 
        <header> 
            <img class="logo" src="{% static 'img/HealthyMeLogo.png' %}">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>Welcome, {{ user.username }} </li>
                    <li><a class="nav-links" href="{% url 'logout' %}">Logout</a></li>
                    <li><a class="nav-links" href="{% url 'signup' %}">Sign up</a></li>
                    {% else %}
                    <li>Not logged in</li>
                    <li><a class="nav-links" href="{% url 'signup' %}">Sign up</a></li>
                    <li><a class="nav-links" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            <a class="home" href="{% url 'home' %}"><button>Home</button></a>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            Made for patients by Dr. M. Pyarali 
        </footer>
    </body>
</html>
