{% extends 'base.html' %}
{% block title %}
{% endblock title %}

{% block content %}
<main> 
    <div class="detail">
        <h1>My Medications</h1>
        <a href="{% url 'my_medications' %}"><img class="pill_pic" src="https://media.istockphoto.com/id/1072626580/vector/medicine-flat-design-icon-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=I0ZVPGWIHoLbx6VC25v-aplRocMd7Al8OQUO2Mwri7Q="></a>
        <h2>{{ medication.name }}</h2>
        <button><a href="{% url 'edit_medication_entry' medication.id %}">Edit Medication Info</a></button>
        <h3>Indication:</h3>
        <p>{{ medication.indication }}</p>
        <h2>Pill Appearance:</h2>
        <p>{{ medication.pill_appearance }}</p>
        <h2>Dosage:</h2>
        <p>Take {{ medication.how_many}} pill(s) {{ medication.how_often }} time(s) a day </p>
        <h2>Special Instructions:</h2>
        <p>{{ medication.how_to_take }}</p>
        <h2>Medication started on:</h2>
        <p>{{ medication.start_date|date:"D m/d/y" }}</p>
        <h2>Medication prescribed by:</h2>
        <p>{{ entry.prescribed_by }}</p>
    </div>
</main>
{% endblock content %}