{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Medications</h1>
                <div>
                    <p>
                        <button><a href="{% url 'create_medication_entry' %}">Add a new medication</a></button>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name of Prescribed Medication</th>
                            <th>Indicated Use</th>
                            <th>What does the pill look like?</th>
                            <th>How many pills to take for each dose?</th>
                            <th>How many times per day?</th>
                            <th>Special Instructions for taking pills</th>
                            <th>Started taking this pill on:</th>
                            <th>Prescribed by:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in my_medications %}
                        <tr>
                            <td><a href="{% url 'show_medication' entry.id %}">{{ entry.name }}</a></td>
                            <td>{{ entry.indication }}</td> 
                            <td>{{ entry.pill_appearance }}</td>
                            <td>{{ entry.how_many}}</td>
                            <td>{{ entry.how_often }}</td> 
                            <td>{{ entry.how_to_take }}</td>
                            <td>{{ entry.start_date|date:"D m/d/y" }}</td>
                            <td>{{ entry.prescribed_by }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>
{% endblock content %}