* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

li, a, button { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px; 
    color: whitesmoke; 
    text-decoration: none; 
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -10px 10%;
    background-color: #034168;
    backdrop-filter: blur(20px);
}

nav{ 
    width:100%; 
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0; 
}

nav ul { 
    list-style: none; 
    width: 100%; 
    text-align: right;
    padding-right: 100px; 
}

nav ul li { 
    display: inline-block; 
    margin: 10px 10px; 
}


button { 
    padding: 9px 40px; 
    margin-right: 30px;
    background-color: rgba(0,136,169,0.8); 
    border: black; 
    border-radius: 30px; 
    cursor: pointer; 
    transition: all 0.3s ease 0s;
    font-size: 16px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover { 
    background-color: rgba(0,136,169,0.3); 
}

.home { 
    margin-top: -20px; 
}

body { 
    margin: 0; 
    padding: 0; 
}


main {  
    width:100%;
    min-height: 80vh; 
    background-image: linear-gradient(rgba(9,0,77, 0.15), rgba(9,0,77,0.1)), url(https://t4.ftcdn.net/jpg/04/24/30/93/360_F_424309320_UkOxg2z3sq7yXwGnWCO6xBXkRI4byhnI.jpg);
    background-size: cover; 
    background-position: top left; 
    backdrop-filter: blur(80px);
    padding-top: 20px; 
    padding-left: 20px; 
}

footer { 
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 44px;
    padding-right: 0;
    background-color: #034168;
    color: white; 
    font-style: italic;
    backdrop-filter: blur(20px);
}

img { 
    object-fit: cover;
    width: 12rem; 
    height: 12rem;
    border: none;
    opacity: 0.8; 
    border-radius: 10%;
    transition: all 0.3s ease-in-out 0.3s;

}

img:hover {
    transform: scale(1.05);
    opacity: 1; 

}

.logo { 
    width: 12rem; 
    height: 6rem; 
    object-fit: cover;
    opacity: 0.8;
    
}

.logo:hover { 
    width: 12rem;
    height: 6rem; 
}

.managers-list { 
    display: grid; 
    grid-template-columns: 33% 33% 33%;
    row-gap: 15%;
    place-items: center;
    align-items: center;
    padding-top: 5%;
    font-size: 1.5rem;
    text-align: center;
    font-variant-caps: all-small-caps;
}

h1 { 
    margin-top: 1vh; 
    margin-bottom: 1vh;
    color: whitesmoke;
}

.doctor_pic { 
    border: none; 
    margin-bottom: -1.5rem; 
}

.form { 
    margin: 25px 0; 
    font-size: 1.2em; 
    min-width: 400px; 
    background-color:  rgba(13,89,134,0.5);
    width: 95%; 
    height: 50vh; 
    overflow-y: scroll;
    text-align: center;
    padding-top: 10vh;
    line-height: 30px;
}

table { 
    border-collapse: collapse; 
    margin: 25px 0px; 
    font-size: 0.9em; 
    background-color:  #0d598680;
    width: 98%; 
    height: 50vh; 
    overflow-y: scroll; 
    overflow-x: scroll;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    place-items: center;
}

table thead tr { 
    background-color:  rgba(13,89,134,0.5)

}

table tr:nth-child(even) { 
    background-color: rgba(112,128,144,0.5);
}

table a:hover { 
    text-decoration: underline; 
}

h2, h3, p { 
    color: white; 
}

h2, h3 { 
    font-size: 30px;
}

h2 { 
    padding-top: 1vh; 
}

p { 
    font-size:20px; 
}

.detail { 
    background-color:  rgba(13,89,134,0.5);
    padding: 10px; 
    margin-right: 20px; 
    overflow-y: scroll visible;
    padding-bottom: 50px;
}