{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Asthma Log</h1>
                <div>
                    <p>
                        <button><a href="{% url 'create_asthma_entry' %}">Create a new entry</a></button>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Wheezing</th>
                            <th>Chest Tightness</th>
                            <th>Shortness of Breath</th>
                            <th>Cough</th>
                            <th>Missed activities?</th>
                            <th>Sleep</th>
                            <th>Took preventative medications?</th>
                            <th>Used inhaler? </th>
                            <th>Had asthma attack?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in my_asthma_log %}
                        <tr>
                            <td>{{ entry.date|date:"D m/d/y" }}</td>
                            <td>{{ entry.wheezing|yesno:"Y, N" }}</td> 
                            <td>{{ entry.chest_tightness|yesno:"Y, N" }}</td>
                            <td>{{ entry.shortness_of_breath|yesno:"Y, N" }}</td>
                            <td>{{ entry.cough|yesno:"Y, " }}</td> 
                            <td>{{ entry.missed_activites|yesno:"Y, N" }}</td>
                            <td>{{ entry.sleep }}</td>
                            <td>{{ entry.took_medications|yesno:"Y, N" }}</td>
                            <td>{{ entry.used_inhaler|yesno:"Y, N" }}</td> 
                            <td>{{ entry.asthma_attack|yesno:"Y, N" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>
{% endblock content %}